---
import Layout from '../layouts/Layout.astro';
---

<Layout>

    <main>

        <div class="container-fluid">
	    	<div class="row">

                <div class="col-12 contenedor-titulo-calculadora">
                    <div class="row gx-0 justify-content-center align-items-center">
                        <div class="col-6">
                            <h1 class="text-center titulo-calculadora">FUTPERÚ</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
        	<div class="row justify-content-center align-items-center">
                <div class="col-8 contenedor-subtitulo-futperu">
                    <h2 class="text-center subtitulo-futperu">Minijuegos del Fútbol Peruano</h2>
                </div>
                <div class="col-10 col-lg-6 contenedor-descripcion-futperu">
                    <p class="text-center descripcion-futperu">¡Diviértete con nuestros minijuegos inspirados en el fútbol peruano! Pon a prueba tus conocimientos en diferentes retos que involucran a los jugadores y clubes que pasaron por la Primera División de Perú entre los años 2010 y 2026. ¡Juega ahora y demuestra que eres el mejor fanático del fútbol peruano!</p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
        	<div class="row justify-content-center align-items-center">
                <div class="col-8 contenedor-subtitulo-futperu">
                    <h3 class="text-center texto-seleccion">Selecciona el juego que desees jugar</h3>
                </div>
            </div>
        </div>

        <div class="container-fluid contenedor-minijuegos">
        	<div class="row justify-content-center align-items-center">

                <div class="col-10 col-lg-8">

                    <div class="row justify-content-center align-items-center">
                        
                        <div class="col-10 col-lg-4 text-center d-flex justify-content-center align-items-center">
                            <div class="contenedor-juego">
                                <a class="titulo-minijuegos" href="/minijuegos/el-once">
                                    <div class="img-wrapper">
                                        <img src="/img/minijuegos/juegos/el-once.webp" alt="El Once" class="img-fluid img-juego">
                                    </div>
                                    <div class="contenedor-descripcion-juego">
                                        <h4 class="nombre-juego">EL ONCE</h4>
                                        <p class="descripcion-juego">11 posiciones, cientos de cracks</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-10 col-lg-4 text-center d-flex justify-content-center align-items-center">
                            <div class="contenedor-juego">
                                <a class="titulo-minijuegos" href="/minijuegos/el-once-leyendas">
                                    <div class="img-wrapper">
                                        <img src="/img/minijuegos/juegos/el-once-leyendas.webp" alt="El Once Leyendas" class="img-fluid img-juego">
                                    </div>
                                    <div class="contenedor-descripcion-juego">
                                        <h4 class="nombre-juego">EL ONCE - LEYENDAS</h4>
                                        <p class="descripcion-juego">11 posiciones, solo leyendas</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-10 col-lg-4 text-center d-flex justify-content-center align-items-center">
                            <div class="contenedor-juego">
                                <a class="titulo-minijuegos" href="/minijuegos/el-once-actualidad">
                                    <div class="img-wrapper">
                                        <img src="/img/minijuegos/juegos/el-once-actualidad.webp" alt="El Once Actualidad" class="img-fluid img-juego">
                                    </div>
                                    <div class="contenedor-descripcion-juego">
                                        <h4 class="nombre-juego">EL ONCE - ACTUALIDAD</h4>
                                        <p class="descripcion-juego">11 posiciones, los cracks de hoy</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-10 col-lg-4 text-center d-flex justify-content-center align-items-center">
                            <div class="contenedor-juego-proximamente">
                                <a class="titulo-minijuegos">
                                    <div class="img-wrapper">
                                        <img src="/img/minijuegos/juegos/proximamente.webp" alt="El Once" class="img-fluid img-juego">
                                    </div>
                                    <div class="contenedor-descripcion-juego-proximamente">
                                        <h4 class="nombre-juego nombre-proximamente">PRÓXIMAMENTE</h4>
                                        <p class="descripcion-juego descripcion-proximamnte">Calentando en la banca</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-10 col-lg-4 text-center d-flex justify-content-center align-items-center">
                            <div class="contenedor-juego-proximamente">
                                <a class="titulo-minijuegos">
                                    <div class="img-wrapper">
                                        <img src="/img/minijuegos/juegos/proximamente.webp" alt="El Once" class="img-fluid img-juego">
                                    </div>
                                    <div class="contenedor-descripcion-juego-proximamente">
                                        <h4 class="nombre-juego nombre-proximamente">PRÓXIMAMENTE</h4>
                                        <p class="descripcion-juego descripcion-proximamnte">Calentando en la banca</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-10 col-lg-4 text-center d-flex justify-content-center align-items-center">
                            <div class="contenedor-juego-proximamente">
                                <a class="titulo-minijuegos">
                                    <div class="img-wrapper">
                                        <img src="/img/minijuegos/juegos/proximamente.webp" alt="El Once" class="img-fluid img-juego">
                                    </div>
                                    <div class="contenedor-descripcion-juego-proximamente">
                                        <h4 class="nombre-juego nombre-proximamente">PRÓXIMAMENTE</h4>
                                        <p class="descripcion-juego descripcion-proximamnte">Calentando en la banca</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </main>

</Layout>

<style>

    .contenedor-minijuegos{
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .contenedor-subtitulo-futperu{
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .contenedor-descripcion-futperu{
        margin-bottom: 2rem;
    }

    .contenedor-juego, .contenedor-juego-proximamente{
        max-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        border: 6px solid rgb(255, 109, 109);
        border-radius: 15px;
        transition: border 0.5s ease;
        margin-bottom: 2.5rem;
    }

    .contenedor-juego-proximamente{
        border: 6px solid rgb(184, 184, 184);
    }

    .contenedor-descripcion-juego, .contenedor-descripcion-juego-proximamente{
        padding-top: 1.2rem;
        padding-bottom: 1.5rem;
        background-color: rgba(117, 12, 12, 0.726);
        transition: background-color 0.5s ease;
    }

    .contenedor-descripcion-juego-proximamente{
        background-color: rgba(255, 255, 255, 0.856);
    }

    .img-wrapper{
        width: 250px;
        height: 250px;
        overflow: hidden;
    }

    .titulo-minijuegos{
        text-decoration: none;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    .subtitulo-futperu{
        color: rgb(255, 255, 255);
        font-size: 3rem;
        font-weight: bold;
        font-style: italic;
    }

    .texto-seleccion{
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(151, 15, 15, 0.5);
    }

    .descripcion-futperu{
        color: rgb(255, 255, 255);
        margin-top: 1rem;
        font-size: 1rem;
    }

    .img-juego{
        width: 100%;
        transition: transform 0.5s ease;
        transform-origin: center;
    }

    .nombre-juego{
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic;
    }

    .nombre-proximamente {
        color: rgb(29, 29, 29);
    }

    .descripcion-juego{
        color: rgb(200, 200, 200);
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }

    .descripcion-proximamnte{
        color: rgb(59, 59, 59);
    }

    .contenedor-juego:hover .img-juego{
        transform: scale(1.1);
    }

    .contenedor-juego-proximamente:hover .img-juego{
        transform: scale(1.1);
    }

    .contenedor-juego:hover .contenedor-descripcion-juego{
        background-color: rgba(75, 12, 175, 0.726);
    }

    .contenedor-juego:hover{
        border: 6px solid rgba(75, 12, 175, 0.726);
    }

    .contenedor-juego-proximamente:hover .contenedor-descripcion-juego-proximamente{
        background-color: rgba(155, 155, 155, 0.726);
    }

    .contenedor-juego-proximamente:hover{
        border: 6px solid rgba(155, 155, 155, 0.726);
    }

    @media (max-width: 768px) {

        .contenedor-subtitulo-futperu{
            margin: 1.5rem 0;
        }

        .contenedor-descripcion-futperu{
            margin-bottom: 0.8rem;
        }

        .subtitulo-futperu{
            font-size: 1.2rem;
        }
        
        .descripcion-futperu{
            font-size: 0.7rem;
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .texto-seleccion{
            font-size: 1rem;
        }

        .contenedor-juego, .contenedor-juego-proximamente{
            margin-bottom: 1.5rem;
        }

        .img-wrapper{
            width: 200px;
            height: 200px;
        }

        .img-juego{
            width: 200px;
        }

        .nombre-juego, .nombre-proximamente{
            font-size: 1rem;
        }

        .descripcion-juego, .descripcion-proximamente{
            font-size: 0.7rem;
        }
    }

</style>